* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}
.container {
    height: 100%;
    display: flex;
}

.backgroundarea {
    background-image: url("assets/background.jpg");
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.imagecontainer {
    position: absolute;
    top: 19%;
    max-width: 400px;
    width: auto;
    margin: 0 auto;
}

.imagecontainer img {
    max-width: 100%;
}

.signuparea {
    flex: 2;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 100vh;
}

.signuparea form {
    width: 100%;
    padding: 8%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.signuparea form label {
    font-weight: bold;
    font-size: 15px;
}
.inputsection {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 20px;
}
.signuparea form .each {
    display: flex;
}

.title {
    padding: 8%;
}

.title p {
    padding-bottom: 30px;
    font-size: 25px;
    font-style: italic;
}
.title h3 {
    font-size: 25px;
}

.buttonarea {
    padding: 8%;
}