* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.backgroundarea {
    flex-basis: 34%;
    display: flex;
    justify-content:flex-end;
    background: transparent;
}

.imagecontainer {
    position: absolute;
    top: 20%;
    max-width: 400px;
    width: auto;
    margin: 0 auto;

}

.imagecontainer img {
    max-width: 100%;
    height: auto;
}

.signuparea {
    flex-grow: 1;
    background-color: white;
    box-shadow: -5px 0px 10px rgba(0,0,0,0.8);
}